#toolbarDiv {
    position: absolute;
    top: 50px;
    right: 15px;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #infoDiv {
    position: absolute;
    top: 15px;
    left: 60px;
  }
  #infoDiv input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }

  .esri-widget--button.active,
  .esri-widget--button.active:hover,
  .esri-widget--button.active:focus {
    cursor: default;
    background-color: #999696;
  }
  .esri-widget--button.active path,
  .esri-widget--button.active:hover path,
  .esri-widget--button.active:focus path {
    fill: #E4E4E4;
  }

  .esri-popup .esri-popup-header .esri-title {
    font-size: 18px;
    font-weight: bolder;
  }

  .esri-popup .esri-popup-body .esri-popup-content {
    font-size: 14px;
  }